.form__fieldset {
    border-color: hsl(27deg 100% 40%);
    border-radius: 5px 10px;
    margin: 20px 0;
    background-color: hsl(180deg 100% 99%);
    color: hsl(0deg, 0%, 96%);
}

.form__label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: hsl(27deg 100% 40%);
}
