.buttons__button {
  max-width: 200px;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: hsl(27deg 100% 40%);
  color: hsl(0, 0%, 96%);
}

.buttons__button:hover {
  background-color: hsl(27deg 100% 50%);
}